# 1. Download Dataset and Understand the Format

In [136]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import CountVectorizer
from scipy.sparse import csr_matrix
from sklearn.preprocessing import StandardScaler
from scipy.sparse import hstack
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics.pairwise import rbf_kernel
import random
random.seed(42)
import warnings
warnings.filterwarnings('ignore')
from sklearn.cluster import KMeans

In [137]:
features = ["duration","protocol_type","service","flag","src_bytes",
    "dst_bytes","land","wrong_fragment","urgent","hot","num_failed_logins",
    "logged_in","num_compromised","root_shell","su_attempted","num_root",
    "num_file_creations","num_shells","num_access_files","num_outbound_cmds",
    "is_host_login","is_guest_login","count","srv_count","serror_rate",
    "srv_serror_rate","rerror_rate","srv_rerror_rate","same_srv_rate",
    "diff_srv_rate","srv_diff_host_rate","dst_host_count","dst_host_srv_count",
    "dst_host_same_srv_rate","dst_host_diff_srv_rate","dst_host_same_src_port_rate",
    "dst_host_srv_diff_host_rate","dst_host_serror_rate","dst_host_srv_serror_rate",
    "dst_host_rerror_rate","dst_host_srv_rerror_rate","label"]

In [3]:
df = pd.read_csv('kddcup.data_10_percent.gz', names = features)

In [52]:
# NEW
df_all = pd.read_csv('kddcup.data.corrected', names = features)

In [53]:
# NEW
df_all.drop_duplicates(subset=features, keep='first', inplace = True)
df_all.drop('num_outbound_cmds', axis=1, inplace=True)
df_all.drop('is_host_login', axis=1, inplace=True)

In [54]:
# NEW
df_encoded_all = pd.get_dummies(df_all, columns=['protocol_type','service','flag'])

In [55]:
# NEW
scaler = StandardScaler()

# fit and transform the continuous features
df_encoded_all[['duration',
 'src_bytes',
 'dst_bytes',
 'land',
 'wrong_fragment',
 'urgent',
 'hot',
 'num_failed_logins',
 'logged_in',
 'num_compromised',
 'root_shell',
 'su_attempted',
 'num_root',
 'num_file_creations',
 'num_shells',
 'num_access_files',
 'is_guest_login',
 'count',
 'srv_count',
 'serror_rate',
 'srv_serror_rate',
 'rerror_rate',
 'srv_rerror_rate',
 'same_srv_rate',
 'diff_srv_rate',
 'srv_diff_host_rate',
 'dst_host_count',
 'dst_host_srv_count',
 'dst_host_same_srv_rate',
 'dst_host_diff_srv_rate',
 'dst_host_same_src_port_rate',
 'dst_host_srv_diff_host_rate',
 'dst_host_serror_rate',
 'dst_host_srv_serror_rate',
 'dst_host_rerror_rate',
 'dst_host_srv_rerror_rate']] = scaler.fit_transform(df_encoded_all[['duration',
 'src_bytes',
 'dst_bytes',
 'land',
 'wrong_fragment',
 'urgent',
 'hot',
 'num_failed_logins',
 'logged_in',
 'num_compromised',
 'root_shell',
 'su_attempted',
 'num_root',
 'num_file_creations',
 'num_shells',
 'num_access_files',
 'is_guest_login',
 'count',
 'srv_count',
 'serror_rate',
 'srv_serror_rate',
 'rerror_rate',
 'srv_rerror_rate',
 'same_srv_rate',
 'diff_srv_rate',
 'srv_diff_host_rate',
 'dst_host_count',
 'dst_host_srv_count',
 'dst_host_same_srv_rate',
 'dst_host_diff_srv_rate',
 'dst_host_same_src_port_rate',
 'dst_host_srv_diff_host_rate',
 'dst_host_serror_rate',
 'dst_host_srv_serror_rate',
 'dst_host_rerror_rate',
 'dst_host_srv_rerror_rate']])

In [57]:
#NEW
data_labels_all = pd.DataFrame(df_encoded_all)

# Instantiate the LabelEncoder object
le = LabelEncoder()

# Fit the LabelEncoder object on the string values to obtain the encoded labels
data_labels_all['label'] = le.fit_transform(data_labels_all['label'])

In [58]:
df_encoded_all['label'].value_counts()

normal.             812814
neptune.            242149
satan.                5019
ipsweep.              3723
portsweep.            3564
smurf.                3007
nmap.                 1554
back.                  968
teardrop.              918
warezclient.           893
pod.                   206
guess_passwd.           53
buffer_overflow.        30
warezmaster.            20
land.                   19
imap.                   12
rootkit.                10
loadmodule.              9
ftp_write.               8
multihop.                7
phf.                     4
perl.                    3
spy.                     2
Name: label, dtype: int64

In [59]:
df_encoded_gt_all = pd.DataFrame(df_encoded_all)

In [60]:
df_encoded_all.drop('label',inplace=True,axis=1)

In [62]:
df_encoded_all.shape

(1074992, 120)

In [63]:
data_all = df_encoded_all.values[0:]

In [65]:
from sklearn.cluster import KMeans
def spectral_clustering(A,k):
        
    #--------------computing the degree matrix-------------
    d = np.diag(np.sum(A, axis=1))

    #--------------------computing L-----------------------
    L = d-A

    #---------------------computing La---------------------
    #computing the inverse of the dgree matrix
    inv_degree = np.linalg.inv(d)
    La = np.dot(inv_degree, L)

    #---computing the eigenValues and eigenVectors of La---
    e_val, evec = np.linalg.eig(La)

    #----------sorting the eigenValues ascending----------- 
    idx = np.argsort(eval)
    e_val = e_val[idx]

    #---sorting the eigenVectors according to their corresponding eigenValues---
    evec = evec[:, idx]

    #--slicing the eigenVectors to the desired number of clusters--
    evec_new = evec[:, :k]

    #-------------normalizing the eigenVectors--------------
    system = evec.real / np.sqrt(np.linalg.norm(evec.real))

    kmeans = KMeans(n_clusters=k)
    system_labels = kmeans.fit_predict(system)


    return system, system_labels

In [77]:
data_labels = pd.DataFrame(df_encoded)

# Instantiate the LabelEncoder object
le = LabelEncoder()

# Fit the LabelEncoder object on the string values to obtain the encoded labels
df_all['label'] = le.fit_transform(df_all['label'])

In [78]:
X_train, X_test, y_train, y_test = train_test_split(data_all, df_all['label'], test_size=0.995, train_size=0.005,stratify=df_all['label'],random_state=42)

In [67]:
sim_matrix=rbf_kernel(X_train)

In [79]:
X_train.shape

(5374, 120)

In [80]:
system,labels=spectral_clustering(sim_matrix,23)

In [81]:
len(labels)

5374

In [82]:
labels

array([11, 20,  1, ..., 10,  0, 20])

In [86]:
y_train = list(y_train)

In [87]:
num_classes = 23
num_elements = len(labels)
contingency_matrix = np.zeros((num_classes,num_classes))
for i in range(num_elements):
    contingency_matrix[y_train[i],labels[i]] += 1

In [90]:
import math
from scipy.optimize import linear_sum_assignment
def evaluation(contingency_matrix):
    
    n_total = data.shape[0]
    gt_classes=contingency_matrix.shape[0]
    predicted_classes=contingency_matrix.shape[1]
    TP, TN, FP, FN = 0, 0, 0, 0
    # True Positive 
    for i in range(gt_classes):
        for j in range(predicted_classes):
            if contingency_matrix[i][j] != 1 and contingency_matrix[i][j] != 0:
                TP += math.comb(int(contingency_matrix[i][j]),2)

    # True Negative 
    for i in range(gt_classes):
        for j in range(predicted_classes):
            if i != j:
                for k in range(predicted_classes):
                    temp = contingency_matrix[k,i]*(np.sum(contingency_matrix[:,j]) - contingency_matrix[k,j])
                    TN += temp
    TN = TN/2

    # False Positive 
    for i in range(gt_classes):
        for j in range(predicted_classes):
            temp = contingency_matrix[j,i]*(np.sum(contingency_matrix[:,i])-contingency_matrix[j,i])/2
            FP += temp

    # False Negative 
    for i in range(gt_classes):
        for j in range(predicted_classes):
            if i != j:
                for k in range(predicted_classes):
                    temp = contingency_matrix[k,i]*(contingency_matrix[k,j])
                    FN += temp
    FN /= 2

    # Jaccard Index
    jacc = TP / (TP + FN + FP)

    # Rand Index
    rand = (TP + TN)/ (TP + FN + FP + TN)
    print('---------Confusion Matrix----------')
    print(f"Rand Index: {rand}")
    
    print(f"Jaccard Index: {jacc}")
    print(f'TP= {TP},TN= {TN},FN= {FN},FP= {FP}')
    
    ht_c = 0
    for i in range(gt_classes):
        cluster_elem = np.sum(contingency_matrix[:,i])
        for j in range(predicted_classes):  
            temp = contingency_matrix[j][i]/cluster_elem
            if temp != 0:
                ht_c += temp*math.log(temp,2)*cluster_elem/n_total
    ht_c = -1*ht_c
    print('---------Conditional Entropy----------')
    print(f"Conditional Entropy: {ht_c}")
    
    print('----------------Purity----------------')
    purity=0
    purities=[]
    recalls=[]
    for i in range(predicted_classes):
        cluster_sum=np.sum(contingency_matrix[:,i])
        class_max=np.max(contingency_matrix[:,i])
        a=contingency_matrix[:,i]
        max_index=a.argmax()
        purities.append(class_max/cluster_sum)
        recalls.append(class_max/np.sum(contingency_matrix[max_index,:]))
        purity+=(class_max/cluster_sum) * (cluster_sum/n_total)
    #purity = np.sum(np.max(contingency_matrix, axis =0))/np.sum(contingency_matrix)
    print(f"Purity: {purity}")
    
    print('--------------F-measure---------------')
    # a row for each cluster, and columns are precision, recall and F-measure respectively
    
    f_measure=0
    for i in range(predicted_classes):
        f_measure+=(2*purities[i]*recalls[i])/(purities[i]+recalls[i])
    f_measure=f_measure/predicted_classes
    print(f"F: {f_measure}")
    
    print('--------------Max matching---------------')
    row_ind, col_ind = linear_sum_assignment(contingency_matrix, maximize=True)
    contingency_reordered = contingency_matrix[row_ind][:, col_ind]
    #print(contingency_reordered)
    max_match = np.sum(np.diag(contingency_reordered))/np.sum(contingency_matrix)
    print(f"Max Matching: {max_match}")

In [91]:
evaluation(contingency_matrix)

---------Confusion Matrix----------
Rand Index: 0.47438518593325
Jaccard Index: 0.17717123100217602
TP= 1633939,TN= 5214879.0,FN= 7351452.0,FP= 236981.0
---------Conditional Entropy----------
Conditional Entropy: 0.01487885595257005
----------------Purity----------------
Purity: 0.03281222095531164
--------------F-measure---------------
F: 0.270491544392299
--------------Max matching---------------
Max Matching: 0.32340900632675845

In [92]:
from sklearn.cluster import SpectralClustering

In [93]:
spectral = SpectralClustering(n_clusters=23, affinity='nearest_neighbors', assign_labels='kmeans')
spectral.fit(X_train)

SpectralClustering(affinity='nearest_neighbors', n_clusters=23)

In [98]:
labels = list(spectral.labels_)

In [99]:
num_classes = 23
num_elements = len(labels)
contingency_matrix = np.zeros((num_classes,num_classes))
for i in range(num_elements):
    contingency_matrix[y_train[i],labels[i]] += 1

In [100]:
evaluation(contingency_matrix)

---------Confusion Matrix----------
Rand Index: 0.4360711052263343
Jaccard Index: 0.1448500890170314
TP= 1379067,TN= 4916601.0,FN= 7606324.0,FP= 535259.0
---------Conditional Entropy----------
Conditional Entropy: 0.013575241938212747
----------------Purity----------------
Purity: 0.032997678348192824
--------------F-measure---------------
F: 0.14471716918200844
--------------Max matching---------------
Max Matching: 0.3360625232601414

In [4]:
# Visualize the first 5 rows to get a feel of the dataset
df.head()

,duration,protocol_type,service,flag,src_bytes,dst_bytes,land,wrong_fragment,urgent,hot,...,dst_host_srv_count,dst_host_same_srv_rate,dst_host_diff_srv_rate,dst_host_same_src_port_rate,dst_host_srv_diff_host_rate,dst_host_serror_rate,dst_host_srv_serror_rate,dst_host_rerror_rate,dst_host_srv_rerror_rate,label
0,0,tcp,http,SF,181,5450,0,0,0,0,...,9,1.0,0.0,0.11,0.0,0.0,0.0,0.0,0.0,normal.
1,0,tcp,http,SF,239,486,0,0,0,0,...,19,1.0,0.0,0.05,0.0,0.0,0.0,0.0,0.0,normal.
2,0,tcp,http,SF,235,1337,0,0,0,0,...,29,1.0,0.0,0.03,0.0,0.0,0.0,0.0,0.0,normal.
3,0,tcp,http,SF,219,1337,0,0,0,0,...,39,1.0,0.0,0.03,0.0,0.0,0.0,0.0,0.0,normal.
4,0,tcp,http,SF,217,2032,0,0,0,0,...,49,1.0,0.0,0.02,0.0,0.0,0.0,0.0,0.0,normal.

In [5]:
df.describe()

,duration,src_bytes,dst_bytes,land,wrong_fragment,urgent,hot,num_failed_logins,logged_in,num_compromised,...,dst_host_count,dst_host_srv_count,dst_host_same_srv_rate,dst_host_diff_srv_rate,dst_host_same_src_port_rate,dst_host_srv_diff_host_rate,dst_host_serror_rate,dst_host_srv_serror_rate,dst_host_rerror_rate,dst_host_srv_rerror_rate
count,494021.000000,4.940210e+05,4.940210e+05,494021.000000,494021.000000,494021.000000,494021.000000,494021.000000,494021.000000,494021.000000,...,494021.000000,494021.000000,494021.000000,494021.000000,494021.000000,494021.000000,494021.000000,494021.000000,494021.000000,494021.000000
mean,47.979302,3.025610e+03,8.685324e+02,0.000045,0.006433,0.000014,0.034519,0.000152,0.148247,0.010212,...,232.470778,188.665670,0.753780,0.030906,0.601935,0.006684,0.176754,0.176443,0.058118,0.057412
std,707.746472,9.882181e+05,3.304000e+04,0.006673,0.134805,0.005510,0.782103,0.015520,0.355345,1.798326,...,64.745380,106.040437,0.410781,0.109259,0.481309,0.042133,0.380593,0.380919,0.230590,0.230140
min,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,4.500000e+01,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,255.000000,46.000000,0.410000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,5.200000e+02,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,255.000000,255.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,0.000000,1.032000e+03,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,255.000000,255.000000,1.000000,0.040000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,58329.000000,6.933756e+08,5.155468e+06,1.000000,3.000000,3.000000,30.000000,5.000000,1.000000,884.000000,...,255.000000,255.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [6]:
print('Number of datapoints: ',df.shape[0])
print('Number of features:',df.shape[1])
print("Features are:",features)

Number of datapoints:  494021
Number of features: 42
Features are: ['duration', 'protocol_type', 'service', 'flag', 'src_bytes', 'dst_bytes', 'land', 'wrong_fragment', 'urgent', 'hot', 'num_failed_logins', 'logged_in', 'num_compromised', 'root_shell', 'su_attempted', 'num_root', 'num_file_creations', 'num_shells', 'num_access_files', 'num_outbound_cmds', 'is_host_login', 'is_guest_login', 'count', 'srv_count', 'serror_rate', 'srv_serror_rate', 'rerror_rate', 'srv_rerror_rate', 'same_srv_rate', 'diff_srv_rate', 'srv_diff_host_rate', 'dst_host_count', 'dst_host_srv_count', 'dst_host_same_srv_rate', 'dst_host_diff_srv_rate', 'dst_host_same_src_port_rate', 'dst_host_srv_diff_host_rate', 'dst_host_serror_rate', 'dst_host_srv_serror_rate', 'dst_host_rerror_rate', 'dst_host_srv_rerror_rate', 'label']

In [7]:
# True class labels
description = df['label'].describe()
description

count     494021
unique        23
top       smurf.
freq      280790
Name: label, dtype: object

In [8]:
df['label'].unique()

array(['normal.', 'buffer_overflow.', 'loadmodule.', 'perl.', 'neptune.',
       'smurf.', 'guess_passwd.', 'pod.', 'teardrop.', 'portsweep.',
       'ipsweep.', 'land.', 'ftp_write.', 'back.', 'imap.', 'satan.',
       'phf.', 'nmap.', 'multihop.', 'warezmaster.', 'warezclient.',
       'spy.', 'rootkit.'], dtype=object)

### Data Preprocessing

In [9]:
print('Null values in dataset are',len(df[df.isnull().any(1)]))

Null values in dataset are 0

#### Dropping Duplicates

In [10]:
# Dropping duplicates

df.drop_duplicates(subset=features, keep='first', inplace = True)
df.shape

(145586, 42)

#### Removing Redundant Attributes

In [11]:
# Checking for redundant attributes to drop them
for col in df.columns:
    print(f"Value counts for {col}:")
    print(df[col].value_counts())

Value counts for duration:
0        134975
1          2441
2           853
3           604
5           407
          ...
1877          1
6186          1
4262          1
18185         1
120           1
Name: duration, Length: 2495, dtype: int64
Value counts for protocol_type:
tcp     130913
udp      12267
icmp      2406
Name: protocol_type, dtype: int64
Value counts for service:
http        62054
private     49057
smtp         9721
domain_u     5425
other        4769
            ...
X11            11
tim_i           5
pm_dump         1
tftp_u          1
red_i           1
Name: service, Length: 66, dtype: int64
Value counts for flag:
SF        87459
S0        42278
REJ       14712
RSTO        569
RSTR        425
S1           57
SH           34
S2           24
RSTOS0       11
S3           10
OTH           7
Name: flag, dtype: int64
Value counts for src_bytes:
0        57872
147       1962
105       1467
146       1454
42         941
         ...
6927         1
2315         1
11898        1
12289        1
475          1
Name: src_bytes, Length: 3300, dtype: int64
Value counts for dst_bytes:
0        67663
105       3199
8314       899
330        854
329        804
         ...
4205         1
4519         1
4268         1
7391         1
13828        1
Name: dst_bytes, Length: 10725, dtype: int64
Value counts for land:
0    145566
1        20
Name: land, dtype: int64
Value counts for wrong_fragment:
0    144465
3       910
1       211
Name: wrong_fragment, dtype: int64
Value counts for urgent:
0    145582
1         2
2         1
3         1
Name: urgent, dtype: int64
Value counts for hot:
0     143629
2        958
28       274
1        255
4        112
6        104
5         51
3         38
14        37
30        28
22        28
19        23
24        13
18        13
20        10
7          5
17         2
12         2
16         1
10         1
15         1
9          1
Name: hot, dtype: int64
Value counts for num_failed_logins:
0    145523
1        57
2         3
5         1
4         1
3         1
Name: num_failed_logins, dtype: int64
Value counts for logged_in:
0    74032
1    71554
Name: logged_in, dtype: int64
Value counts for num_compromised:
0      144596
1         917
2          24
4          16
3          11
6           3
5           2
7           2
767         1
12          1
9           1
884         1
13          1
38          1
18          1
11          1
275         1
281         1
16          1
238         1
21          1
22          1
102         1
Name: num_compromised, dtype: int64
Value counts for root_shell:
0    145531
1        55
Name: root_shell, dtype: int64
Value counts for su_attempted:
0    145574
1         6
2         6
Name: su_attempted, dtype: int64
Value counts for num_root:
0      145001
1         233
9         167
6         126
2          22
5          12
4          10
3           3
7           1
993         1
54          1
306         1
14          1
39          1
278         1
268         1
12          1
857         1
16          1
119         1
Name: num_root, dtype: int64
Value counts for num_file_creations:
0     145321
1        207
2         36
4          7
16         2
5          1
22         1
25         1
12         1
8          1
7          1
21         1
14         1
10         1
28         1
9          1
15         1
20         1
Name: num_file_creations, dtype: int64
Value counts for num_shells:
0    145535
1        48
2         3
Name: num_shells, dtype: int64
Value counts for num_access_files:
0    145133
1       423
2        25
3         2
4         1
6         1
8         1
Name: num_access_files, dtype: int64
Value counts for num_outbound_cmds:
0    145586
Name: num_outbound_cmds, dtype: int64
Value counts for is_host_login:
0    145586
Name: is_host_login, dtype: int64
Value counts for is_guest_login:
0    144901
1       685
Name: is_guest_login, dtype: int64
Value counts for count:
1      30439
2       9409
3       5371
4       4984
5       4178
       ...
395        1
385        1
375        1
345        1
407        1
Name: count, Length: 490, dtype: int64
Value counts for srv_count:
1      25054
2      14475
3       8254
4       7109
5       6246
       ...
386        1
379        1
373        1
358        1
407        1
Name: srv_count, Length: 470, dtype: int64
Value counts for serror_rate:
0.00    101813
1.00     41746
0.99       308
0.06       106
0.07       100
         ...
0.87         1
0.80         1
0.90         1
0.34         1
0.89         1
Name: serror_rate, Length: 92, dtype: int64
Value counts for srv_serror_rate:
0.00    102055
1.00     42250
0.03       139
0.04       120
0.05       109
0.06        98
0.02        84
0.50        77
0.08        73
0.07        68
0.25        56
0.33        55
0.17        51
0.09        48
0.10        46
0.20        44
0.12        43
0.11        43
0.14        34
0.01        10
0.67         9
0.18         6
0.92         6
0.95         5
0.94         5
0.88         4
0.19         4
0.58         4
0.75         4
0.83         3
0.76         3
0.15         3
0.91         3
0.40         3
0.85         2
0.27         2
0.22         2
0.93         2
0.16         1
0.38         1
0.36         1
0.35         1
0.45         1
0.21         1
0.44         1
0.23         1
0.51         1
0.86         1
0.90         1
0.80         1
0.37         1
Name: srv_serror_rate, dtype: int64
Value counts for rerror_rate:
0.00    129222
1.00     14987
0.25        75
0.50        73
0.01        62
         ...
0.66         1
0.31         1
0.32         1
0.34         1
0.24         1
Name: rerror_rate, Length: 77, dtype: int64
Value counts for srv_rerror_rate:
0.00    128822
1.00     15467
0.50       168
0.33       158
0.25       131
0.20        88
0.17        81
0.14        68
0.04        63
0.03        61
0.12        57
0.06        54
0.02        54
0.05        41
0.07        36
0.67        28
0.08        28
0.11        26
0.40        24
0.09        24
0.29        20
0.10        16
0.75        11
0.60        10
0.01         6
0.71         4
0.22         4
0.83         3
0.86         3
0.18         2
0.96         2
0.79         2
0.43         2
0.92         2
0.81         2
0.88         2
0.73         2
0.69         1
0.94         1
0.62         1
0.80         1
0.85         1
0.93         1
0.82         1
0.27         1
0.37         1
0.21         1
0.38         1
0.87         1
0.95         1
0.13         1
Name: srv_rerror_rate, dtype: int64
Value counts for same_srv_rate:
1.00    90096
0.06     5072
0.05     4858
0.04     4778
0.03     4583
        ...
0.70        2
0.68        2
0.87        1
0.63        1
0.61        1
Name: same_srv_rate, Length: 99, dtype: int64
Value counts for diff_srv_rate:
0.00    90038
0.06    25691
0.07    12895
0.05     8503
0.08     2287
        ...
0.82        1
0.86        1
0.64        1
0.83        1
0.88        1
Name: diff_srv_rate, Length: 78, dtype: int64
Value counts for srv_diff_host_rate:
0.00    112132
1.00      7566
0.12      1481
0.50      1345
0.67      1276
         ...
0.54         2
0.46         2
0.88         2
0.70         1
0.77         1
Name: srv_diff_host_rate, Length: 64, dtype: int64
Value counts for dst_host_count:
255    86128
1       2078
2       1789
3       1338
4       1233
       ...
254       70
226       70
236       63
246       61
0          3
Name: dst_host_count, Length: 256, dtype: int64
Value counts for dst_host_srv_count:
255    54739
1       6242
2       4373
3       3186
4       2906
       ...
211       59
218       57
202       56
204       51
0          3
Name: dst_host_srv_count, Length: 256, dtype: int64
Value counts for dst_host_same_srv_rate:
1.00    64093
0.02     8196
0.04     8060
0.05     7693
0.01     7344
        ...
0.30      155
0.21      149
0.34      149
0.41      148
0.42      143
Name: dst_host_same_srv_rate, Length: 101, dtype: int64
Value counts for dst_host_diff_srv_rate:
0.00    63317
0.07    21237
0.06    13739
0.08     9524
0.05     8233
        ...
0.97       11
0.94        9
0.93        8
0.92        7
0.99        6
Name: dst_host_diff_srv_rate, Length: 101, dtype: int64
Value counts for dst_host_same_src_port_rate:
0.00    80614
0.01    20205
0.02     7178
1.00     5496
0.03     4398
        ...
0.78       34
0.70       32
0.72       28
0.68       27
0.66       26
Name: dst_host_same_src_port_rate, Length: 101, dtype: int64
Value counts for dst_host_srv_diff_host_rate:
0.00    94795
0.02    11736
0.01    10529
0.04     6670
0.03     6624
        ...
0.62        1
0.45        1
0.47        1
0.75        1
0.70        1
Name: dst_host_srv_diff_host_rate, Length: 65, dtype: int64
Value counts for dst_host_serror_rate:
0.00    97045
1.00    41965
0.01     3385
0.02      955
0.03      398
        ...
0.66        1
0.74        1
0.78        1
0.86        1
0.37        1
Name: dst_host_serror_rate, Length: 100, dtype: int64
Value counts for dst_host_srv_serror_rate:
0.00    97589
1.00    42196
0.01     4592
0.02      675
0.03      149
        ...
0.87        1
0.84        1
0.55        1
0.81        1
0.53        1
Name: dst_host_srv_serror_rate, Length: 72, dtype: int64
Value counts for dst_host_rerror_rate:
0.00    124253
1.00     14039
0.01      1594
0.02       774
0.03       392
         ...
0.66        19
0.34        18
0.46        15
0.39        14
0.79        13
Name: dst_host_rerror_rate, Length: 101, dtype: int64
Value counts for dst_host_srv_rerror_rate:
0.00    125256
1.00     13142
0.01      1849
0.02       625
0.04       377
         ...
0.23         6
0.32         5
0.28         4
0.26         4
0.22         4
Name: dst_host_srv_rerror_rate, Length: 101, dtype: int64
Value counts for label:
normal.             87832
neptune.            51820
back.                 968
teardrop.             918
satan.                906
warezclient.          893
ipsweep.              651
smurf.                641
portsweep.            416
pod.                  206
nmap.                 158
guess_passwd.          53
buffer_overflow.       30
warezmaster.           20
land.                  19
imap.                  12
rootkit.               10
loadmodule.             9
ftp_write.              8
multihop.               7
phf.                    4
perl.                   3
spy.                    2
Name: label, dtype: int64

We notice that there are two redundant features : num_outbound_cmds and is_host_login with only one value "0", so we drop them

In [12]:
# We notice that there are two redundant features : num_outbound_cmds and is_host_login with only one value "0", so we drop them
df.drop('num_outbound_cmds', axis=1, inplace=True)
df.drop('is_host_login', axis=1, inplace=True)
df.shape

(145586, 40)

#### Transformation of categorical features

In [117]:
df_encoded = pd.get_dummies(df, columns=['protocol_type','service','flag'])

In [118]:
df_encoded

,duration,src_bytes,dst_bytes,land,wrong_fragment,urgent,hot,num_failed_logins,logged_in,num_compromised,...,flag_REJ,flag_RSTO,flag_RSTOS0,flag_RSTR,flag_S0,flag_S1,flag_S2,flag_S3,flag_SF,flag_SH
0,0,181,5450,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
1,0,239,486,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
2,0,235,1337,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
3,0,219,1337,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
4,0,217,2032,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
494016,0,310,1881,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
494017,0,282,2286,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
494018,0,203,1200,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
494019,0,291,1200,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
494020,0,219,1234,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0

#### Standardization of continuous features

In [119]:
# instantiate a StandardScaler object
scaler = StandardScaler()

# fit and transform the continuous features
df_encoded[['duration',
 'src_bytes',
 'dst_bytes',
 'land',
 'wrong_fragment',
 'urgent',
 'hot',
 'num_failed_logins',
 'logged_in',
 'num_compromised',
 'root_shell',
 'su_attempted',
 'num_root',
 'num_file_creations',
 'num_shells',
 'num_access_files',
 'is_guest_login',
 'count',
 'srv_count',
 'serror_rate',
 'srv_serror_rate',
 'rerror_rate',
 'srv_rerror_rate',
 'same_srv_rate',
 'diff_srv_rate',
 'srv_diff_host_rate',
 'dst_host_count',
 'dst_host_srv_count',
 'dst_host_same_srv_rate',
 'dst_host_diff_srv_rate',
 'dst_host_same_src_port_rate',
 'dst_host_srv_diff_host_rate',
 'dst_host_serror_rate',
 'dst_host_srv_serror_rate',
 'dst_host_rerror_rate',
 'dst_host_srv_rerror_rate']] = scaler.fit_transform(df_encoded[['duration',
 'src_bytes',
 'dst_bytes',
 'land',
 'wrong_fragment',
 'urgent',
 'hot',
 'num_failed_logins',
 'logged_in',
 'num_compromised',
 'root_shell',
 'su_attempted',
 'num_root',
 'num_file_creations',
 'num_shells',
 'num_access_files',
 'is_guest_login',
 'count',
 'srv_count',
 'serror_rate',
 'srv_serror_rate',
 'rerror_rate',
 'srv_rerror_rate',
 'same_srv_rate',
 'diff_srv_rate',
 'srv_diff_host_rate',
 'dst_host_count',
 'dst_host_srv_count',
 'dst_host_same_srv_rate',
 'dst_host_diff_srv_rate',
 'dst_host_same_src_port_rate',
 'dst_host_srv_diff_host_rate',
 'dst_host_serror_rate',
 'dst_host_srv_serror_rate',
 'dst_host_rerror_rate',
 'dst_host_srv_rerror_rate']])

In [120]:
df_encoded['label'].unique()

array(['normal.', 'buffer_overflow.', 'loadmodule.', 'perl.', 'neptune.',
       'smurf.', 'guess_passwd.', 'pod.', 'teardrop.', 'portsweep.',
       'ipsweep.', 'land.', 'ftp_write.', 'back.', 'imap.', 'satan.',
       'phf.', 'nmap.', 'multihop.', 'warezmaster.', 'warezclient.',
       'spy.', 'rootkit.'], dtype=object)

In [121]:
data_labels = pd.DataFrame(df_encoded)

# Instantiate the LabelEncoder object
le = LabelEncoder()

# Fit the LabelEncoder object on the string values to obtain the encoded labels
data_labels['label'] = le.fit_transform(data_labels['label'])

In [122]:
df_encoded['label'].value_counts()

normal.             87832
neptune.            51820
back.                 968
teardrop.             918
satan.                906
warezclient.          893
ipsweep.              651
smurf.                641
portsweep.            416
pod.                  206
nmap.                 158
guess_passwd.          53
buffer_overflow.       30
warezmaster.           20
land.                  19
imap.                  12
rootkit.               10
loadmodule.             9
ftp_write.              8
multihop.               7
phf.                    4
perl.                   3
spy.                    2
Name: label, dtype: int64

In [123]:
data_labels['label'].value_counts()

11    87832
9     51820
0       968
20      918
17      906
21      893
5       651
18      641
15      416
14      206
10      158
3        53
1        30
22       20
6        19
4        12
16       10
7         9
2         8
8         7
13        4
12        3
19        2
Name: label, dtype: int64

In [124]:
df_encoded_gt = pd.DataFrame(df_encoded)

In [134]:
df_encoded_gt[0]

KeyError: 0

In [21]:
df_encoded.drop('label',inplace=True,axis=1)

In [22]:
df_encoded

,duration,src_bytes,dst_bytes,land,wrong_fragment,urgent,hot,num_failed_logins,logged_in,num_compromised,...,flag_REJ,flag_RSTO,flag_RSTOS0,flag_RSTR,flag_S0,flag_S1,flag_S2,flag_S3,flag_SF,flag_SH
0,-0.10785,-0.004293,0.042596,-0.011722,-0.084394,-0.004737,-0.07021,-0.018022,1.017168,-0.007905,...,0,0,0,0,0,0,0,0,1,0
1,-0.10785,-0.004261,-0.039036,-0.011722,-0.084394,-0.004737,-0.07021,-0.018022,1.017168,-0.007905,...,0,0,0,0,0,0,0,0,1,0
2,-0.10785,-0.004263,-0.025042,-0.011722,-0.084394,-0.004737,-0.07021,-0.018022,1.017168,-0.007905,...,0,0,0,0,0,0,0,0,1,0
3,-0.10785,-0.004272,-0.025042,-0.011722,-0.084394,-0.004737,-0.07021,-0.018022,1.017168,-0.007905,...,0,0,0,0,0,0,0,0,1,0
4,-0.10785,-0.004273,-0.013613,-0.011722,-0.084394,-0.004737,-0.07021,-0.018022,1.017168,-0.007905,...,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
494016,-0.10785,-0.004222,-0.016096,-0.011722,-0.084394,-0.004737,-0.07021,-0.018022,1.017168,-0.007905,...,0,0,0,0,0,0,0,0,1,0
494017,-0.10785,-0.004237,-0.009436,-0.011722,-0.084394,-0.004737,-0.07021,-0.018022,1.017168,-0.007905,...,0,0,0,0,0,0,0,0,1,0
494018,-0.10785,-0.004281,-0.027295,-0.011722,-0.084394,-0.004737,-0.07021,-0.018022,1.017168,-0.007905,...,0,0,0,0,0,0,0,0,1,0
494019,-0.10785,-0.004232,-0.027295,-0.011722,-0.084394,-0.004737,-0.07021,-0.018022,1.017168,-0.007905,...,0,0,0,0,0,0,0,0,1,0
494020,-0.10785,-0.004272,-0.026736,-0.011722,-0.084394,-0.004737,-0.07021,-0.018022,1.017168,-0.007905,...,0,0,0,0,0,0,0,0,1,0

In [23]:
df

,duration,protocol_type,service,flag,src_bytes,dst_bytes,land,wrong_fragment,urgent,hot,...,dst_host_srv_count,dst_host_same_srv_rate,dst_host_diff_srv_rate,dst_host_same_src_port_rate,dst_host_srv_diff_host_rate,dst_host_serror_rate,dst_host_srv_serror_rate,dst_host_rerror_rate,dst_host_srv_rerror_rate,label
0,0,tcp,http,SF,181,5450,0,0,0,0,...,9,1.0,0.0,0.11,0.00,0.00,0.00,0.0,0.0,normal.
1,0,tcp,http,SF,239,486,0,0,0,0,...,19,1.0,0.0,0.05,0.00,0.00,0.00,0.0,0.0,normal.
2,0,tcp,http,SF,235,1337,0,0,0,0,...,29,1.0,0.0,0.03,0.00,0.00,0.00,0.0,0.0,normal.
3,0,tcp,http,SF,219,1337,0,0,0,0,...,39,1.0,0.0,0.03,0.00,0.00,0.00,0.0,0.0,normal.
4,0,tcp,http,SF,217,2032,0,0,0,0,...,49,1.0,0.0,0.02,0.00,0.00,0.00,0.0,0.0,normal.
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
494016,0,tcp,http,SF,310,1881,0,0,0,0,...,255,1.0,0.0,0.01,0.05,0.00,0.01,0.0,0.0,normal.
494017,0,tcp,http,SF,282,2286,0,0,0,0,...,255,1.0,0.0,0.17,0.05,0.00,0.01,0.0,0.0,normal.
494018,0,tcp,http,SF,203,1200,0,0,0,0,...,255,1.0,0.0,0.06,0.05,0.06,0.01,0.0,0.0,normal.
494019,0,tcp,http,SF,291,1200,0,0,0,0,...,255,1.0,0.0,0.04,0.05,0.04,0.01,0.0,0.0,normal.
494020,0,tcp,http,SF,219,1234,0,0,0,0,...,255,1.0,0.0,0.17,0.05,0.00,0.01,0.0,0.0,normal.

# 2.  Clustering Using K-Means and Normalized Cut (Your implementation)

We are given a dataset of network traffic data represented as feature vectors of 41 dimensions. Our goal is to cluster this data using K-Means and identify any anomalies present in the data. 

The K-Means algorithm is a popular clustering algorithm that partitions the data into K clusters based on their similarities. It works by iteratively assigning each data point to its nearest cluster centroid and updating the centroids based on the newly assigned data points. This process continues until the centroids no longer move significantly.

To perform K-Means clustering on the network traffic data, we will vary the value of K between 7, 15, 23, 31, and 45 clusters. This will produce different sets of clusters, allowing us to analyze the data at different levels of granularity. We will then evaluate the clusters to identify any anomalies present in the data.

In [ ]:
#It takes two attrs k number of centroids and the whole data set number of samples x features

def kMeans_implemented(k,data):
    centroids=[]
    num_points=data.shape[0]
    num_features=data.shape[1]
    
    #Appending random points to be our centroids according to the number of ks
    for i in range(k):
        centroids.append(data[random.randint(0, num_points)])
    clusters={}
    t=0
    while(True):
        labels=[]
        #Initialize empty clusters
        for i in range (k):
            clusters[i]=[]
            
        #Classify the points according to the closest centroid
        for i in range(num_points):
            distances=[]
            for j in range(k):
                distances.append(np.linalg.norm(data[i]-centroids[j]))
            clusters[distances.index(min(distances))].append(data[i])
            labels.append(distances.index(min(distances)))
        new_centroids=np.zeros((k,num_features))
        
        #Measuring the new centroids
        for i in range(k):
            new_centroids[i]=np.mean(clusters[i],axis=0)
        if(centroids==new_centroids).all():
            break
        else:
            centroids=new_centroids
    return labels

In [39]:
from sklearn.cluster import KMeans
def spectral_clustering(A,k):
        
    #--------------computing the degree matrix-------------
    d = np.diag(np.sum(A, axis=1))

    #--------------------computing L-----------------------
    L = d-A

    #---------------------computing La---------------------
    #computing the inverse of the dgree matrix
    inv_degree = np.linalg.inv(d)
    La = np.dot(inv_degree, L)

    #---computing the eigenValues and eigenVectors of La---
    e_val, evec = np.linalg.eig(La)

    #----------sorting the eigenValues ascending----------- 
    idx = np.argsort(eval)
    e_val = e_val[idx]

    #---sorting the eigenVectors according to their corresponding eigenValues---
    evec = evec[:, idx]

    #--slicing the eigenVectors to the desired number of clusters--
    evec_new = evec[:, :k]

    #-------------normalizing the eigenVectors--------------
    system = evec.real / np.sqrt(np.linalg.norm(evec.real))

    kmeans = KMeans(n_clusters=k)
    system_labels = kmeans.fit_predict(system)


    return system, system_labels

In [26]:
df_encoded

,duration,src_bytes,dst_bytes,land,wrong_fragment,urgent,hot,num_failed_logins,logged_in,num_compromised,...,flag_REJ,flag_RSTO,flag_RSTOS0,flag_RSTR,flag_S0,flag_S1,flag_S2,flag_S3,flag_SF,flag_SH
0,-0.10785,-0.004293,0.042596,-0.011722,-0.084394,-0.004737,-0.07021,-0.018022,1.017168,-0.007905,...,0,0,0,0,0,0,0,0,1,0
1,-0.10785,-0.004261,-0.039036,-0.011722,-0.084394,-0.004737,-0.07021,-0.018022,1.017168,-0.007905,...,0,0,0,0,0,0,0,0,1,0
2,-0.10785,-0.004263,-0.025042,-0.011722,-0.084394,-0.004737,-0.07021,-0.018022,1.017168,-0.007905,...,0,0,0,0,0,0,0,0,1,0
3,-0.10785,-0.004272,-0.025042,-0.011722,-0.084394,-0.004737,-0.07021,-0.018022,1.017168,-0.007905,...,0,0,0,0,0,0,0,0,1,0
4,-0.10785,-0.004273,-0.013613,-0.011722,-0.084394,-0.004737,-0.07021,-0.018022,1.017168,-0.007905,...,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
494016,-0.10785,-0.004222,-0.016096,-0.011722,-0.084394,-0.004737,-0.07021,-0.018022,1.017168,-0.007905,...,0,0,0,0,0,0,0,0,1,0
494017,-0.10785,-0.004237,-0.009436,-0.011722,-0.084394,-0.004737,-0.07021,-0.018022,1.017168,-0.007905,...,0,0,0,0,0,0,0,0,1,0
494018,-0.10785,-0.004281,-0.027295,-0.011722,-0.084394,-0.004737,-0.07021,-0.018022,1.017168,-0.007905,...,0,0,0,0,0,0,0,0,1,0
494019,-0.10785,-0.004232,-0.027295,-0.011722,-0.084394,-0.004737,-0.07021,-0.018022,1.017168,-0.007905,...,0,0,0,0,0,0,0,0,1,0
494020,-0.10785,-0.004272,-0.026736,-0.011722,-0.084394,-0.004737,-0.07021,-0.018022,1.017168,-0.007905,...,0,0,0,0,0,0,0,0,1,0

In [27]:
#Transforming the panda dataframe into a numpy array
data = df_encoded.values[0:]

In [28]:
data.shape

(145586, 116)

In [ ]:
labels=kMeans_implemented(23,data)

#### splitting dataset into train and testing

In [29]:
df

,duration,protocol_type,service,flag,src_bytes,dst_bytes,land,wrong_fragment,urgent,hot,...,dst_host_srv_count,dst_host_same_srv_rate,dst_host_diff_srv_rate,dst_host_same_src_port_rate,dst_host_srv_diff_host_rate,dst_host_serror_rate,dst_host_srv_serror_rate,dst_host_rerror_rate,dst_host_srv_rerror_rate,label
0,0,tcp,http,SF,181,5450,0,0,0,0,...,9,1.0,0.0,0.11,0.00,0.00,0.00,0.0,0.0,normal.
1,0,tcp,http,SF,239,486,0,0,0,0,...,19,1.0,0.0,0.05,0.00,0.00,0.00,0.0,0.0,normal.
2,0,tcp,http,SF,235,1337,0,0,0,0,...,29,1.0,0.0,0.03,0.00,0.00,0.00,0.0,0.0,normal.
3,0,tcp,http,SF,219,1337,0,0,0,0,...,39,1.0,0.0,0.03,0.00,0.00,0.00,0.0,0.0,normal.
4,0,tcp,http,SF,217,2032,0,0,0,0,...,49,1.0,0.0,0.02,0.00,0.00,0.00,0.0,0.0,normal.
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
494016,0,tcp,http,SF,310,1881,0,0,0,0,...,255,1.0,0.0,0.01,0.05,0.00,0.01,0.0,0.0,normal.
494017,0,tcp,http,SF,282,2286,0,0,0,0,...,255,1.0,0.0,0.17,0.05,0.00,0.01,0.0,0.0,normal.
494018,0,tcp,http,SF,203,1200,0,0,0,0,...,255,1.0,0.0,0.06,0.05,0.06,0.01,0.0,0.0,normal.
494019,0,tcp,http,SF,291,1200,0,0,0,0,...,255,1.0,0.0,0.04,0.05,0.04,0.01,0.0,0.0,normal.
494020,0,tcp,http,SF,219,1234,0,0,0,0,...,255,1.0,0.0,0.17,0.05,0.00,0.01,0.0,0.0,normal.

In [30]:
X_train, X_test, y_train, y_test = train_test_split(data, df['label'], test_size=0.995, train_size=0.005,stratify=df['label'],random_state=42)

In [36]:
sim_matrix=rbf_kernel(X_train)

In [37]:
sim_matrix.shape

(727, 727)

In [42]:
system,labels=spectral_clustering(sim_matrix,23)

In [ ]:
num_classes = 23
num_elements = labels.shape[0]
total = data.shape[0]
contingency_matrix = np.zeros((num_classes,num_classes))
for i in range(num_elements):
    contingency_matrix[data_labels['label'][i],labels[i]] += 1

In [ ]:
import math
ht_c = 0
for i in range(3):
    cluster_elem = np.sum(contingency_matrix[:,i])
    for j in range(3):  
        temp = contingency_matrix[j][i]/cluster_elem
        if temp != 0:
            ht_c += (cluster_elem)*temp*math.log(temp,2)/total
ht_c = -1*ht_c
print(f"Conditional Entropy: {ht_c}")

In [ ]:
# Compute purity
purity = np.sum(np.max(contingency_matrix, axis =0))/np.sum(contingency_matrix)
print(f"Purity: {purity}")

In [ ]:
import math

TP, TN, FP, FN = 0, 0, 0, 0
# True Positive 
for i in range(3):
    for j in range(3):
        if contingency_matrix[i][j] != 1 and contingency_matrix[i][j] != 0:
            TP += math.comb(int(contingency_matrix[i][j]),2)

# True Negative 
for i in range(3):
    for j in range(3):
        if i != j:
            for k in range(3):
                temp = contingency_matrix[k,i]*(np.sum(contingency_matrix[:,j]) - contingency_matrix[k,j])
                TN += temp
TN = TN/2

# False Positive 
for i in range(3):
    for j in range(3):
        temp = contingency_matrix[j,i]*(np.sum(contingency_matrix[:,i])-contingency_matrix[j,i])/2
        FP += temp

# False Negative 
for i in range(3):
    for j in range(3):
        if i != j:
            for k in range(3):
                temp = contingency_matrix[k,i]*(contingency_matrix[k,j])
                FN += temp
FN /= 2

# Jaccard Index
jacc = TP / (TP + FN + FP)
print(f"Jaccard Index: {jacc}")

# Rand Index
rand = (TP + TN)/ (TP + FN + FP + TN)
print(f"Rand Index: {rand}")

print(TP,TN,FN,FP)

In [ ]:
from scipy.optimize import linear_sum_assignment
row_ind, col_ind = linear_sum_assignment(contingency_matrix, maximize=True)
contingency_reordered = contingency_matrix[row_ind][:, col_ind]
print(contingency_reordered)
max_match = np.sum(np.diag(contingency_reordered))/np.sum(contingency_matrix)
print(f"Max Matching: {max_match}")

In [ ]:
# a row for each cluster, and columns are precision, recall and F-measure respectively
f_table = np.zeros((3,3))

# For every cluster compure precision
for i in range(3):
    f_table[i][0] = np.max(contingency_matrix[:,i])/np.sum(contingency_matrix[:,i])
    
# For every cluster compure recall
for i in range(3):
    max_elem = np.argmax(contingency_matrix[:,i])
    f_table[i][1] = contingency_matrix[max_elem][i]/np.sum(contingency_matrix[max_elem,:])

# For every cluster compure F-measure
for i in range(3):
    f_table[i][2] = (2*f_table[i][0]*f_table[i][1])/(f_table[i][0]+f_table[i][1])

f_measure = (1/3) * np.sum(f_table[:,2])
print(f_table)
print(f"F: {f_measure}")

# DBSCAN: Density-Based Spatial Clustering of Applications with Noise

DBSCAN is a clustering algorithm that groups together points that are close to each other in high-density regions, while marking points in low-density regions as noise. The algorithm has two main parameters: `eps` and `min_samples`.

The `eps` parameter defines the radius of the neighborhood around each point. Points within the neighborhood are considered to be part of the same cluster. The `min_samples` parameter specifies the minimum number of points required to form a dense region. Points that do not meet this criterion are marked as noise.

The DBSCAN algorithm works as follows:

1. For each point in the dataset, find all neighboring points within a distance of `eps`.
2. If the number of neighboring points is greater than or equal to `min_samples`, the point is marked as a core point and a new cluster is started.
3. If the number of neighboring points is less than `min_samples`, the point is marked as noise.
4. For each core point, add all neighboring points (including other core points) to the same cluster recursively until there are no more points that can be added.
5. Repeat the above steps until all points have been classified as either noise or assigned to a cluster.

The resulting clusters can be of any shape and size, and they may contain holes or irregular shapes. The algorithm is efficient and does not require the number of clusters to be specified in advance, making it suitable for a wide range of applications.

However, the DBSCAN algorithm is sensitive to the choice of parameters `eps` and `min_samples`. The choice of these parameters depends on the density of the dataset and the desired level of granularity in the clustering. In addition, the algorithm may not be suitable for datasets with widely varying densities or with high-dimensional data.

Overall, DBSCAN is a powerful and flexible clustering algorithm that can be used for a wide range of applications, but it requires careful parameter tuning and may not be suitable for all types of datasets.

In [ ]:
import numpy as np
from sklearn.cluster import DBSCAN
from sklearn.metrics import accuracy_score

# Perform DBSCAN
model = DBSCAN(eps=0.5, min_samples=5, n_jobs=-1)
labels = model.fit_predict(df_encoded)

# Compute accuracy
accuracy = accuracy_score(df_encoded_gt['label'], labels)
print('Accuracy:', accuracy)