# 1. Download Dataset and Understand the Format

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import CountVectorizer
from scipy.sparse import csr_matrix
from sklearn.preprocessing import StandardScaler
from scipy.sparse import hstack
from sklearn.preprocessing import LabelEncoder

In [2]:
features = ["duration","protocol_type","service","flag","src_bytes",
    "dst_bytes","land","wrong_fragment","urgent","hot","num_failed_logins",
    "logged_in","num_compromised","root_shell","su_attempted","num_root",
    "num_file_creations","num_shells","num_access_files","num_outbound_cmds",
    "is_host_login","is_guest_login","count","srv_count","serror_rate",
    "srv_serror_rate","rerror_rate","srv_rerror_rate","same_srv_rate",
    "diff_srv_rate","srv_diff_host_rate","dst_host_count","dst_host_srv_count",
    "dst_host_same_srv_rate","dst_host_diff_srv_rate","dst_host_same_src_port_rate",
    "dst_host_srv_diff_host_rate","dst_host_serror_rate","dst_host_srv_serror_rate",
    "dst_host_rerror_rate","dst_host_srv_rerror_rate","label"]

In [3]:
df = pd.read_csv('kddcup.data_10_percent.gz', names = features)

In [4]:
# Visualize the first 5 rows to get a feel of the dataset
df.head()

,duration,protocol_type,service,flag,src_bytes,dst_bytes,land,wrong_fragment,urgent,hot,...,dst_host_srv_count,dst_host_same_srv_rate,dst_host_diff_srv_rate,dst_host_same_src_port_rate,dst_host_srv_diff_host_rate,dst_host_serror_rate,dst_host_srv_serror_rate,dst_host_rerror_rate,dst_host_srv_rerror_rate,label
0,0,tcp,http,SF,181,5450,0,0,0,0,...,9,1.0,0.0,0.11,0.0,0.0,0.0,0.0,0.0,normal.
1,0,tcp,http,SF,239,486,0,0,0,0,...,19,1.0,0.0,0.05,0.0,0.0,0.0,0.0,0.0,normal.
2,0,tcp,http,SF,235,1337,0,0,0,0,...,29,1.0,0.0,0.03,0.0,0.0,0.0,0.0,0.0,normal.
3,0,tcp,http,SF,219,1337,0,0,0,0,...,39,1.0,0.0,0.03,0.0,0.0,0.0,0.0,0.0,normal.
4,0,tcp,http,SF,217,2032,0,0,0,0,...,49,1.0,0.0,0.02,0.0,0.0,0.0,0.0,0.0,normal.

In [5]:
df.describe()

,duration,src_bytes,dst_bytes,land,wrong_fragment,urgent,hot,num_failed_logins,logged_in,num_compromised,...,dst_host_count,dst_host_srv_count,dst_host_same_srv_rate,dst_host_diff_srv_rate,dst_host_same_src_port_rate,dst_host_srv_diff_host_rate,dst_host_serror_rate,dst_host_srv_serror_rate,dst_host_rerror_rate,dst_host_srv_rerror_rate
count,494021.000000,4.940210e+05,4.940210e+05,494021.000000,494021.000000,494021.000000,494021.000000,494021.000000,494021.000000,494021.000000,...,494021.000000,494021.000000,494021.000000,494021.000000,494021.000000,494021.000000,494021.000000,494021.000000,494021.000000,494021.000000
mean,47.979302,3.025610e+03,8.685324e+02,0.000045,0.006433,0.000014,0.034519,0.000152,0.148247,0.010212,...,232.470778,188.665670,0.753780,0.030906,0.601935,0.006684,0.176754,0.176443,0.058118,0.057412
std,707.746472,9.882181e+05,3.304000e+04,0.006673,0.134805,0.005510,0.782103,0.015520,0.355345,1.798326,...,64.745380,106.040437,0.410781,0.109259,0.481309,0.042133,0.380593,0.380919,0.230590,0.230140
min,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,4.500000e+01,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,255.000000,46.000000,0.410000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,5.200000e+02,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,255.000000,255.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,0.000000,1.032000e+03,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,255.000000,255.000000,1.000000,0.040000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,58329.000000,6.933756e+08,5.155468e+06,1.000000,3.000000,3.000000,30.000000,5.000000,1.000000,884.000000,...,255.000000,255.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [6]:
print('Number of datapoints: ',df.shape[0])
print('Number of features:',df.shape[1])
print("Features are:",features)

Number of datapoints:  494021
Number of features: 42
Features are: ['duration', 'protocol_type', 'service', 'flag', 'src_bytes', 'dst_bytes', 'land', 'wrong_fragment', 'urgent', 'hot', 'num_failed_logins', 'logged_in', 'num_compromised', 'root_shell', 'su_attempted', 'num_root', 'num_file_creations', 'num_shells', 'num_access_files', 'num_outbound_cmds', 'is_host_login', 'is_guest_login', 'count', 'srv_count', 'serror_rate', 'srv_serror_rate', 'rerror_rate', 'srv_rerror_rate', 'same_srv_rate', 'diff_srv_rate', 'srv_diff_host_rate', 'dst_host_count', 'dst_host_srv_count', 'dst_host_same_srv_rate', 'dst_host_diff_srv_rate', 'dst_host_same_src_port_rate', 'dst_host_srv_diff_host_rate', 'dst_host_serror_rate', 'dst_host_srv_serror_rate', 'dst_host_rerror_rate', 'dst_host_srv_rerror_rate', 'label']

In [7]:
# True class labels
description = df['label'].describe()
description

count     494021
unique        23
top       smurf.
freq      280790
Name: label, dtype: object

In [8]:
df['label'].unique()

array(['normal.', 'buffer_overflow.', 'loadmodule.', 'perl.', 'neptune.',
       'smurf.', 'guess_passwd.', 'pod.', 'teardrop.', 'portsweep.',
       'ipsweep.', 'land.', 'ftp_write.', 'back.', 'imap.', 'satan.',
       'phf.', 'nmap.', 'multihop.', 'warezmaster.', 'warezclient.',
       'spy.', 'rootkit.'], dtype=object)

### Data Preprocessing

In [9]:
print('Null values in dataset are',len(df[df.isnull().any(1)]))

Null values in dataset are 0

#### Dropping Duplicates

In [10]:
# Dropping duplicates

df.drop_duplicates(subset=features, keep='first', inplace = True)
df.shape

(145586, 42)

#### Removing Redundant Attributes

In [11]:
# Checking for redundant attributes to drop them
for col in df.columns:
    print(f"Value counts for {col}:")
    print(df[col].value_counts())

Value counts for duration:
0        134975
1          2441
2           853
3           604
5           407
          ...
1877          1
6186          1
4262          1
18185         1
120           1
Name: duration, Length: 2495, dtype: int64
Value counts for protocol_type:
tcp     130913
udp      12267
icmp      2406
Name: protocol_type, dtype: int64
Value counts for service:
http        62054
private     49057
smtp         9721
domain_u     5425
other        4769
            ...
X11            11
tim_i           5
pm_dump         1
tftp_u          1
red_i           1
Name: service, Length: 66, dtype: int64
Value counts for flag:
SF        87459
S0        42278
REJ       14712
RSTO        569
RSTR        425
S1           57
SH           34
S2           24
RSTOS0       11
S3           10
OTH           7
Name: flag, dtype: int64
Value counts for src_bytes:
0        57872
147       1962
105       1467
146       1454
42         941
         ...
6927         1
2315         1
11898        1
12289        1
475          1
Name: src_bytes, Length: 3300, dtype: int64
Value counts for dst_bytes:
0        67663
105       3199
8314       899
330        854
329        804
         ...
4205         1
4519         1
4268         1
7391         1
13828        1
Name: dst_bytes, Length: 10725, dtype: int64
Value counts for land:
0    145566
1        20
Name: land, dtype: int64
Value counts for wrong_fragment:
0    144465
3       910
1       211
Name: wrong_fragment, dtype: int64
Value counts for urgent:
0    145582
1         2
2         1
3         1
Name: urgent, dtype: int64
Value counts for hot:
0     143629
2        958
28       274
1        255
4        112
6        104
5         51
3         38
14        37
30        28
22        28
19        23
24        13
18        13
20        10
7          5
17         2
12         2
16         1
10         1
15         1
9          1
Name: hot, dtype: int64
Value counts for num_failed_logins:
0    145523
1        57
2         3
5         1
4         1
3         1
Name: num_failed_logins, dtype: int64
Value counts for logged_in:
0    74032
1    71554
Name: logged_in, dtype: int64
Value counts for num_compromised:
0      144596
1         917
2          24
4          16
3          11
6           3
5           2
7           2
767         1
12          1
9           1
884         1
13          1
38          1
18          1
11          1
275         1
281         1
16          1
238         1
21          1
22          1
102         1
Name: num_compromised, dtype: int64
Value counts for root_shell:
0    145531
1        55
Name: root_shell, dtype: int64
Value counts for su_attempted:
0    145574
1         6
2         6
Name: su_attempted, dtype: int64
Value counts for num_root:
0      145001
1         233
9         167
6         126
2          22
5          12
4          10
3           3
7           1
993         1
54          1
306         1
14          1
39          1
278         1
268         1
12          1
857         1
16          1
119         1
Name: num_root, dtype: int64
Value counts for num_file_creations:
0     145321
1        207
2         36
4          7
16         2
5          1
22         1
25         1
12         1
8          1
7          1
21         1
14         1
10         1
28         1
9          1
15         1
20         1
Name: num_file_creations, dtype: int64
Value counts for num_shells:
0    145535
1        48
2         3
Name: num_shells, dtype: int64
Value counts for num_access_files:
0    145133
1       423
2        25
3         2
4         1
6         1
8         1
Name: num_access_files, dtype: int64
Value counts for num_outbound_cmds:
0    145586
Name: num_outbound_cmds, dtype: int64
Value counts for is_host_login:
0    145586
Name: is_host_login, dtype: int64
Value counts for is_guest_login:
0    144901
1       685
Name: is_guest_login, dtype: int64
Value counts for count:
1      30439
2       9409
3       5371
4       4984
5       4178
       ...
395        1
385        1
375        1
345        1
407        1
Name: count, Length: 490, dtype: int64
Value counts for srv_count:
1      25054
2      14475
3       8254
4       7109
5       6246
       ...
386        1
379        1
373        1
358        1
407        1
Name: srv_count, Length: 470, dtype: int64
Value counts for serror_rate:
0.00    101813
1.00     41746
0.99       308
0.06       106
0.07       100
         ...
0.87         1
0.80         1
0.90         1
0.34         1
0.89         1
Name: serror_rate, Length: 92, dtype: int64
Value counts for srv_serror_rate:
0.00    102055
1.00     42250
0.03       139
0.04       120
0.05       109
0.06        98
0.02        84
0.50        77
0.08        73
0.07        68
0.25        56
0.33        55
0.17        51
0.09        48
0.10        46
0.20        44
0.12        43
0.11        43
0.14        34
0.01        10
0.67         9
0.18         6
0.92         6
0.95         5
0.94         5
0.88         4
0.19         4
0.58         4
0.75         4
0.83         3
0.76         3
0.15         3
0.91         3
0.40         3
0.85         2
0.27         2
0.22         2
0.93         2
0.16         1
0.38         1
0.36         1
0.35         1
0.45         1
0.21         1
0.44         1
0.23         1
0.51         1
0.86         1
0.90         1
0.80         1
0.37         1
Name: srv_serror_rate, dtype: int64
Value counts for rerror_rate:
0.00    129222
1.00     14987
0.25        75
0.50        73
0.01        62
         ...
0.66         1
0.31         1
0.32         1
0.34         1
0.24         1
Name: rerror_rate, Length: 77, dtype: int64
Value counts for srv_rerror_rate:
0.00    128822
1.00     15467
0.50       168
0.33       158
0.25       131
0.20        88
0.17        81
0.14        68
0.04        63
0.03        61
0.12        57
0.06        54
0.02        54
0.05        41
0.07        36
0.67        28
0.08        28
0.11        26
0.40        24
0.09        24
0.29        20
0.10        16
0.75        11
0.60        10
0.01         6
0.71         4
0.22         4
0.83         3
0.86         3
0.18         2
0.96         2
0.79         2
0.43         2
0.92         2
0.81         2
0.88         2
0.73         2
0.69         1
0.94         1
0.62         1
0.80         1
0.85         1
0.93         1
0.82         1
0.27         1
0.37         1
0.21         1
0.38         1
0.87         1
0.95         1
0.13         1
Name: srv_rerror_rate, dtype: int64
Value counts for same_srv_rate:
1.00    90096
0.06     5072
0.05     4858
0.04     4778
0.03     4583
        ...
0.70        2
0.68        2
0.87        1
0.63        1
0.61        1
Name: same_srv_rate, Length: 99, dtype: int64
Value counts for diff_srv_rate:
0.00    90038
0.06    25691
0.07    12895
0.05     8503
0.08     2287
        ...
0.82        1
0.86        1
0.64        1
0.83        1
0.88        1
Name: diff_srv_rate, Length: 78, dtype: int64
Value counts for srv_diff_host_rate:
0.00    112132
1.00      7566
0.12      1481
0.50      1345
0.67      1276
         ...
0.54         2
0.46         2
0.88         2
0.70         1
0.77         1
Name: srv_diff_host_rate, Length: 64, dtype: int64
Value counts for dst_host_count:
255    86128
1       2078
2       1789
3       1338
4       1233
       ...
254       70
226       70
236       63
246       61
0          3
Name: dst_host_count, Length: 256, dtype: int64
Value counts for dst_host_srv_count:
255    54739
1       6242
2       4373
3       3186
4       2906
       ...
211       59
218       57
202       56
204       51
0          3
Name: dst_host_srv_count, Length: 256, dtype: int64
Value counts for dst_host_same_srv_rate:
1.00    64093
0.02     8196
0.04     8060
0.05     7693
0.01     7344
        ...
0.30      155
0.21      149
0.34      149
0.41      148
0.42      143
Name: dst_host_same_srv_rate, Length: 101, dtype: int64
Value counts for dst_host_diff_srv_rate:
0.00    63317
0.07    21237
0.06    13739
0.08     9524
0.05     8233
        ...
0.97       11
0.94        9
0.93        8
0.92        7
0.99        6
Name: dst_host_diff_srv_rate, Length: 101, dtype: int64
Value counts for dst_host_same_src_port_rate:
0.00    80614
0.01    20205
0.02     7178
1.00     5496
0.03     4398
        ...
0.78       34
0.70       32
0.72       28
0.68       27
0.66       26
Name: dst_host_same_src_port_rate, Length: 101, dtype: int64
Value counts for dst_host_srv_diff_host_rate:
0.00    94795
0.02    11736
0.01    10529
0.04     6670
0.03     6624
        ...
0.62        1
0.45        1
0.47        1
0.75        1
0.70        1
Name: dst_host_srv_diff_host_rate, Length: 65, dtype: int64
Value counts for dst_host_serror_rate:
0.00    97045
1.00    41965
0.01     3385
0.02      955
0.03      398
        ...
0.66        1
0.74        1
0.78        1
0.86        1
0.37        1
Name: dst_host_serror_rate, Length: 100, dtype: int64
Value counts for dst_host_srv_serror_rate:
0.00    97589
1.00    42196
0.01     4592
0.02      675
0.03      149
        ...
0.87        1
0.84        1
0.55        1
0.81        1
0.53        1
Name: dst_host_srv_serror_rate, Length: 72, dtype: int64
Value counts for dst_host_rerror_rate:
0.00    124253
1.00     14039
0.01      1594
0.02       774
0.03       392
         ...
0.66        19
0.34        18
0.46        15
0.39        14
0.79        13
Name: dst_host_rerror_rate, Length: 101, dtype: int64
Value counts for dst_host_srv_rerror_rate:
0.00    125256
1.00     13142
0.01      1849
0.02       625
0.04       377
         ...
0.23         6
0.32         5
0.28         4
0.26         4
0.22         4
Name: dst_host_srv_rerror_rate, Length: 101, dtype: int64
Value counts for label:
normal.             87832
neptune.            51820
back.                 968
teardrop.             918
satan.                906
warezclient.          893
ipsweep.              651
smurf.                641
portsweep.            416
pod.                  206
nmap.                 158
guess_passwd.          53
buffer_overflow.       30
warezmaster.           20
land.                  19
imap.                  12
rootkit.               10
loadmodule.             9
ftp_write.              8
multihop.               7
phf.                    4
perl.                   3
spy.                    2
Name: label, dtype: int64

We notice that there are two redundant features : num_outbound_cmds and is_host_login with only one value "0", so we drop them

In [12]:
# We notice that there are two redundant features : num_outbound_cmds and is_host_login with only one value "0", so we drop them
df.drop('num_outbound_cmds', axis=1, inplace=True)
df.drop('is_host_login', axis=1, inplace=True)
df.shape

(145586, 40)

#### Transformation of categorical features

In [20]:
df_encoded = pd.get_dummies(df, columns=['protocol_type','service','flag'])

In [21]:
df_encoded

,duration,src_bytes,dst_bytes,land,wrong_fragment,urgent,hot,num_failed_logins,logged_in,num_compromised,...,flag_REJ,flag_RSTO,flag_RSTOS0,flag_RSTR,flag_S0,flag_S1,flag_S2,flag_S3,flag_SF,flag_SH
0,0,181,5450,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
1,0,239,486,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
2,0,235,1337,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
3,0,219,1337,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
4,0,217,2032,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
494016,0,310,1881,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
494017,0,282,2286,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
494018,0,203,1200,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
494019,0,291,1200,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
494020,0,219,1234,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0

#### Standardization of continuous features

In [26]:
# instantiate a StandardScaler object
scaler = StandardScaler()

# fit and transform the continuous features
df_encoded[['duration',
 'src_bytes',
 'dst_bytes',
 'land',
 'wrong_fragment',
 'urgent',
 'hot',
 'num_failed_logins',
 'logged_in',
 'num_compromised',
 'root_shell',
 'su_attempted',
 'num_root',
 'num_file_creations',
 'num_shells',
 'num_access_files',
 'is_guest_login',
 'count',
 'srv_count',
 'serror_rate',
 'srv_serror_rate',
 'rerror_rate',
 'srv_rerror_rate',
 'same_srv_rate',
 'diff_srv_rate',
 'srv_diff_host_rate',
 'dst_host_count',
 'dst_host_srv_count',
 'dst_host_same_srv_rate',
 'dst_host_diff_srv_rate',
 'dst_host_same_src_port_rate',
 'dst_host_srv_diff_host_rate',
 'dst_host_serror_rate',
 'dst_host_srv_serror_rate',
 'dst_host_rerror_rate',
 'dst_host_srv_rerror_rate']] = scaler.fit_transform(df_encoded[['duration',
 'src_bytes',
 'dst_bytes',
 'land',
 'wrong_fragment',
 'urgent',
 'hot',
 'num_failed_logins',
 'logged_in',
 'num_compromised',
 'root_shell',
 'su_attempted',
 'num_root',
 'num_file_creations',
 'num_shells',
 'num_access_files',
 'is_guest_login',
 'count',
 'srv_count',
 'serror_rate',
 'srv_serror_rate',
 'rerror_rate',
 'srv_rerror_rate',
 'same_srv_rate',
 'diff_srv_rate',
 'srv_diff_host_rate',
 'dst_host_count',
 'dst_host_srv_count',
 'dst_host_same_srv_rate',
 'dst_host_diff_srv_rate',
 'dst_host_same_src_port_rate',
 'dst_host_srv_diff_host_rate',
 'dst_host_serror_rate',
 'dst_host_srv_serror_rate',
 'dst_host_rerror_rate',
 'dst_host_srv_rerror_rate']])

In [27]:
df_encoded

,duration,src_bytes,dst_bytes,land,wrong_fragment,urgent,hot,num_failed_logins,logged_in,num_compromised,...,flag_REJ,flag_RSTO,flag_RSTOS0,flag_RSTR,flag_S0,flag_S1,flag_S2,flag_S3,flag_SF,flag_SH
0,-0.10785,-0.004293,0.042596,-0.011722,-0.084394,-0.004737,-0.07021,-0.018022,1.017168,-0.007905,...,0,0,0,0,0,0,0,0,1,0
1,-0.10785,-0.004261,-0.039036,-0.011722,-0.084394,-0.004737,-0.07021,-0.018022,1.017168,-0.007905,...,0,0,0,0,0,0,0,0,1,0
2,-0.10785,-0.004263,-0.025042,-0.011722,-0.084394,-0.004737,-0.07021,-0.018022,1.017168,-0.007905,...,0,0,0,0,0,0,0,0,1,0
3,-0.10785,-0.004272,-0.025042,-0.011722,-0.084394,-0.004737,-0.07021,-0.018022,1.017168,-0.007905,...,0,0,0,0,0,0,0,0,1,0
4,-0.10785,-0.004273,-0.013613,-0.011722,-0.084394,-0.004737,-0.07021,-0.018022,1.017168,-0.007905,...,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
494016,-0.10785,-0.004222,-0.016096,-0.011722,-0.084394,-0.004737,-0.07021,-0.018022,1.017168,-0.007905,...,0,0,0,0,0,0,0,0,1,0
494017,-0.10785,-0.004237,-0.009436,-0.011722,-0.084394,-0.004737,-0.07021,-0.018022,1.017168,-0.007905,...,0,0,0,0,0,0,0,0,1,0
494018,-0.10785,-0.004281,-0.027295,-0.011722,-0.084394,-0.004737,-0.07021,-0.018022,1.017168,-0.007905,...,0,0,0,0,0,0,0,0,1,0
494019,-0.10785,-0.004232,-0.027295,-0.011722,-0.084394,-0.004737,-0.07021,-0.018022,1.017168,-0.007905,...,0,0,0,0,0,0,0,0,1,0
494020,-0.10785,-0.004272,-0.026736,-0.011722,-0.084394,-0.004737,-0.07021,-0.018022,1.017168,-0.007905,...,0,0,0,0,0,0,0,0,1,0